apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: managedkeycloakrealms.k8s.rightcrowd.com
spec:
  group: k8s.rightcrowd.com
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                realmId:
                  type: string
                displayName:
                  type: string
                pruneRealm:
                  type: boolean
                clients:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      enabled:
                        type: boolean
                      type:
                        type: string
                        enum:
                          - oidc
                      clientAuthenticationEnabled:
                        type: boolean
                      secretTargets:
                        type: array
                        items:
                          type: object
                          properties:
                            namespace:
                              type: string
                            name:
                              type: string
                            clientIdPropertyName:
                              type: string
                            clientSecretPropertyName:
                              type: string
                          required:
                            - namespace
                            - name
                    required:
                      - id
                      - name
                      - type
              required:
                - realmId
            status:
              type: object
              properties:
                latestOperatorStatusUpdate:
                  type: string
      additionalPrinterColumns:
        - name: RealmName
          type: string
          description: The name of the realm
          jsonPath: .spec.realmName
  # either Namespaced or Cluster
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          type: object
        status:
          type: object
  names:
    plural: managedkeycloakrealms
    singular: managedkeycloakrealm
    kind: ManagedKeycloakRealm
    shortNames:
    - mkcr
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
